@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  body {
    height: 100vh;
    background: #171717;
  }
  html {
    font-size: 16px;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  .wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
  }
  .button-option {
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  .button-group{
    display: flex;
    flex-direction: row;
  }
  #restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #0a0027;
    color: #ffffff;
    background-color : hsl(115, 29%, 43%);
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
  }
  .popup {
    background: #171717;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
  }
  #new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: hsl(115, 29%, 43%);
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
  }
  #message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
  }
  .popup.hide {
    display: none;
  }
